<%= erb :form, :layout => false %>

<div id="services">
  <div id="google" class="service loading">
    <div class="header">
      <h2>Google</h2>
    </div>
    <div class="content">
      <ul id="google-result" class="result"></ul>
      <a href="http://www.google.com/search?q=<%= query %>" class="all">View all from Google</a>
    </div>
  </div>

  <div id="delicious" class="service loading">
    <div class="header">
      <h2>Delicious
        — <a href="#customize" id="customize-delicious">Customize</a>
      </h2>
    </div>
    <div class="content">
      <ul id="delicious-result" class="result"></ul>
      <a href="http://delicious.com/search?p=<%= query %>" class="all">View all from Delicious</a>
    </div>
  </div>

  <div id="github" class="service loading">
    <div class="header">
      <h2>GitHub</h2>
    </div>
    <div class="content">
      <ul id="github-result" class="result"></ul>
      <a href="http://github.com/search?q=<%= query %>" class="all">View all from GitHub</a>
    </div>
  </div>
</div>
<form action="#delicious" id="delicious-username" class="customize">
  Delicious username:
  <input type="text" name="username" />
  <input type="submit" value="save">
</form>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/services/search/web?v=1.0&amp;q=<%= query %>&amp;callback=Google.result&amp;rsz=large"></script>
<script type="text/javascript" src="/delicious?q=<%= query %>&amp;callback=Delicious.result"></script>
<script type="text/javascript" src="http://github.com/api/v1/json/search/<%= query %>?callback=GitHub.result"></script>
